<center><h1>About US</h1></center>
<div class="div2_about" style="font-size:30px">Welcome to our discount website! We are dedicated to providing our customers with the best deals and discounts on a wide range of products and services. Whether you're looking for clothing, electronics, travel deals, or more, we've got you covered.</div>