<!-- <h1>Discount Jugaadu</h1>

<% if current_user.nil? == false %>
   <div>
      <%= link_to :Profile ,  home_profile_path(current_user) %>
   </div> 
<% end %>
<%= link_to "Categories", categories_path %> -->



 <!-- Banner -->

 <div class="container">
   <div class="row">
     <div class="col-12 banner_Image">
       <p class="banner-heading">
         Save $$$ online with <br />
         Coupons & Deals
       </p>
       <p class="banner-text">
         Coupon code website saving you time and money on <br />
         1,000+ popular products and services
       </p>
       <div class="center-align">
         <button class="banner-btn-one">View All Stores</button>
         <button class="banner-btn-two" style="margin-left: 1rem">
           Start Search
         </button>
       </div>
     </div>
   </div>
 </div>

 <!-- List Layout-->
  <%= render 'shared/leftCategories' %>

 <script
   src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
   integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
   crossorigin="anonymous"
 ></script>
 <script
   src="https://kit.fontawesome.com/2f60e8540a.js"
   crossorigin="anonymous"
 ></script>
