<h1>Discount Jugaadu</h1>

<% if current_user.nil? == false %>
   <div>
      <%= link_to :Profile ,  home_profile_path(current_user) %>
   </div> 
<% end %>
<%= link_to "Categories", categories_path %>

