 <!-- Banner -->

 <div class="container">
   <div class="row">
     <div class="col-12 banner_Image">
       <p class="banner-heading">
         Save $$$ online with <br />
         Coupons & Deals
       </p>
       <p class="banner-text">
         Coupon code website saving you time and money on <br />
         1,000+ popular products and services
       </p>
       <div class="center-align">
         <button class="banner-btn-one">View All Stores</button>
         <button class="banner-btn-two" style="margin-left: 1rem">
           Start Search
         </button>
       </div>
     </div>
   </div>
 </div>

 <!-- List Layout-->
  <%= render 'shared/leftCategories' %>


