.Nav {
   padding: 0.8rem;
   border: 1px solid #f2f2f2;
 }
 
 .center-align {
   display: flex;
   align-items: center;
 }
 .center {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .Category-layout {
   display: flex;
   align-items: center;
   justify-content: center;
 }
 
 .Blog-Icon-container {
   margin-left: 2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 .Blog-Icon-container > p {
   font-size: 1rem;
 }
 .icons {
   font-size: 1.8rem;
 }
 
 .banner_Image {
   margin-top: 1rem;
   height: 50vh;
   background-image: url("https://images.unsplash.com/photo-1528458909336-e7a0adfed0a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fG11ZyUyMGxhbmRzY2FwZSUyMHBsYW5lJTIwYmFja2dyb3VuZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   justify-content: center;
   flex-direction: column;
   border-radius: 0.75rem;
 }
 .banner-heading {
   font-size: 1.8rem;
   color: #fff;
   font-weight: bold;
 }
 .banner-text {
   font-size: 1.2rem;
   color: #fff;
 }
 
 .banner-btn-one,
 .banner-btn-two {
   height: 3rem;
   width: 12rem;
   border: 1px solid black;
   border-radius: 0.3125rem;
   color: #fff;
 }
 .banner-btn-one {
   background-color: orange;
 }
 .banner-btn-two {
   background-color: gray;
 }
 
 .space {
   padding-left: 2rem;
 }
 .list-container {
   border: 1px solid lightgray;
   border-top-left-radius: 0.3125rem;
   border-top-right-radius: 0.3125rem;
   padding: 1rem;
 }
 .verified_image {
   width: 1rem;
   height: 1rem;
 }
 .verified-text {
   color: green;
   margin-left: 0.6rem;
 }
 .offer-logo {
   border: 1px solid lightgray;
   padding: 0.5rem 0rem 0.5rem 0rem;
   border-radius: 0.2rem;
   font-weight: 600;
 }
 .offer-text {
   font-weight: bold;
   margin-left: 1rem;
   font-size: 1.2rem;
 }
 .dateOFExpire {
   text-align: end;
   padding: 0.5rem;
   border: 1px solid lightgray;
   background-color: #f2f2f2;
   color: gray;
 }
 .code-container {
   display: flex;
   align-items: center;
   border: 1px solid lightgray;
   border-radius: 0.3125rem;
 }
 .get-code {
   padding: 0.5rem;
   width: 60%;
   background-color: orange;
   color: #fff;
   border-top-left-radius: 0.3125rem;
   border-bottom-left-radius: 0.3125rem;
   clip-path: polygon(0 0, 100% 0%, 90% 100%, 0 100%);
 }
 .search-icon {
   padding: 0.5rem;
   width: 40%;
   display: flex !important;
   align-items: center;
   justify-content: end;
 }
 
 .search {
   position: relative;
   color: #aaa;
   font-size: 16px;
 }
 
 .search {
   display: inline-block;
 }
 
 .search input {
   width: 250px;
   height: 32px;
   background: #fcfcfc;
   border: 0px solid #aaa !important;
   border-radius: 1rem;
   box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
 }
 
 .search input {
   text-indent: 32px;
 }
 .search .fa-search {
   position: absolute;
   top: 10px;
   left: 10px;
 }
 
 .search .fa-search {
   left: auto;
   right: 10px;
 }
 .col-One {
   order: 1;
 }
 .col-two {
   order: 2;
 }
 .col-three {
   order: 3;
 }
 .Heading {
   font-size: 1.8rem;
   font-weight: bold;
 }
 .Heading > span {
   color: orange;
 }
 
 .end-align{
     display: flex;
     align-items: center;
     justify-content: end;
     padding: 0.5rem;
 }
 
 button:focus:not(:focus-visible) {
   outline: 0;
 }
 .accordion-button:focus {
   z-index: 3;
   border-color: lightgray;
   outline: 0;
   box-shadow: 0 0 0 0.25rem rgba(255, 187, 0, 0.938);
 }
 .accordion-button:not(.collapsed) {
   color: orange;
   background-color: #e7f1ff;
   box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
 }
 @media screen and (max-width: 37.5rem) {
   .space {
     padding-left: 0rem;
   }
   .Blog-Icon-container {
     margin-left: 2rem;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
   }
   .col-One {
     order: 1;
   }
   .col-two {
     order: 3;
   }
   .col-three {
     order: 2;
   }
   .Heading {
     font-size: 1.4rem;
   }
   .Blog-Icon-container {
     margin-left: 0.5rem;
   }
 
   .icons {
     font-size: 0.8rem;
   }
   .Blog-Icon-container > p {
     font-size: 0.8rem;
   }
 }

.modal-body
{
  border: 5px dotted #bbb;
}

.couponbutton {
  border: 1px dashed #f8f9fa;
  background: #f8f9fa;
  border-radius: 3px;
  color: #000;
  letter-spacing: 2px;
  padding: 5px;
  position: relative;
  cursor: pointer;
  height: 56px;
}

#copybtn
{
  float: left;
  font-weight: bolder;
  padding-top: 11px;
}
#copybtntxt
{
  cursor: pointer;
  float: right;
  padding-bottom: 10px;
}
#greypart
{
  float: left;
  font-weight: bolder;
}

.qty1,
.qty2 {
    border: none;
    width:20px;
    background: transparent;
}
.green {
  color: green;
}

.red {
  color: red;
}


#removelink{
text-decoration: none;
font-family: sans-serif;
}
/* Dropdown Button */
/* .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}




    /* footer css  */

    body {
      background: #fbfbfd;
  }
  
  .new_footer_area {
      background: #fbfbfd;
  }
  
  
  .new_footer_top {
      padding: 120px 0px 270px;
      position: relative;
        overflow-x: hidden;
  }
  .new_footer_area .footer_bottom {
      padding-top: 5px;
      padding-bottom: 50px;
  }
  .footer_bottom {
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      color: #7f88a6;
      padding: 27px 0px;
  }
  .new_footer_top .company_widget p {
      font-size: 16px;
      font-weight: 300;
      line-height: 28px;
      color: #6a7695;
      margin-bottom: 20px;
  }
  .new_footer_top .company_widget .f_subscribe_two .btn_get {
      border-width: 1px;
      margin-top: 20px;
  }
  .btn_get_two:hover {
      background: transparent;
      color: #5e2ced;
  }
  .btn_get:hover {
      color: #fff;
      background: #6754e2;
      border-color: #6754e2;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  a:hover, a:focus, .btn:hover, .btn:focus, button:hover, button:focus {
      text-decoration: none;
      outline: none;
  }
  
  
  
  .new_footer_top .f_widget.about-widget .f_list li a:hover {
      color: #5e2ced;
  }
  .new_footer_top .f_widget.about-widget .f_list li {
      margin-bottom: 11px;
  }
  .f_widget.about-widget .f_list li:last-child {
      margin-bottom: 0px;
  }
  .f_widget.about-widget .f_list li {
      margin-bottom: 15px;
  }
  .f_widget.about-widget .f_list {
      margin-bottom: 0px;
  }
  .new_footer_top .f_social_icon a {
      width: 44px;
      height: 44px;
      line-height: 43px;
      background: transparent;
      border: 1px solid #e2e2eb;
      font-size: 24px;
  }
  .f_social_icon a {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      font-size: 14px;
      line-height: 45px;
      color: #858da8;
      display: inline-block;
      background: #ebeef5;
      text-align: center;
      -webkit-transition: all 0.2s linear;
      -o-transition: all 0.2s linear;
      transition: all 0.2s linear;
  }
  .ti-facebook:before {
      content: "\e741";
  }
  .ti-twitter-alt:before {
      content: "\e74b";
  }
  .ti-vimeo-alt:before {
      content: "\e74a";
  }
  .ti-pinterest:before {
      content: "\e731";
  }
  
  .btn_get_two {
      -webkit-box-shadow: none;
      box-shadow: none;
      background: #5e2ced;
      border-color: #5e2ced;
      color: #fff;
  }
  
  .btn_get_two:hover {
      background: transparent;
      color: #5e2ced;
  }
  
  .new_footer_top .f_social_icon a:hover {
      background: #5e2ced;
      border-color: #5e2ced;
    color:white;
  }
  .new_footer_top .f_social_icon a + a {
      margin-left: 4px;
  }
  .new_footer_top .f-title {
      margin-bottom: 30px;
      color: #263b5e;
  }
  .f_600 {
      font-weight: 600;
  }
  .f_size_18 {
      font-size: 18px;
  }
  h1, h2, h3, h4, h5, h6 {
      color: #4b505e;
  }
  .new_footer_top .f_widget.about-widget .f_list li a {
      color: #6a7695;
  }
  
  
  .new_footer_top .footer_bg {
      position: absolute;
      bottom: 0;
      background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEigB8iI5tb8WSVBuVUGc9UjjB8O0708X7Fdic_4O1LT4CmLHoiwhanLXiRhe82yw0R7LgACQ2IhZaTY0hhmGi0gYp_Ynb49CVzfmXtYHUVKgXXpWvJ_oYT8cB4vzsnJLe3iCwuzj-w6PeYq_JaHmy_CoGoa6nw0FBo-2xLdOPvsLTh_fmYH2xhkaZ-OGQ/s16000/footer_bg.png") no-repeat scroll center 0;
      width: 100%;
      height: 266px;
  }
  
  .new_footer_top .footer_bg .footer_bg_one {
      background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEia0PYPxwT5ifToyP3SNZeQWfJEWrUENYA5IXM6sN5vLwAKvaJS1pQVu8mOFFUa_ET4JuHNTFAxKURFerJYHDUWXLXl1vDofYXuij45JZelYOjEFoCOn7E6Vxu0fwV7ACPzArcno1rYuVxGB7JY6G7__e4_KZW4lTYIaHSLVaVLzklZBLZnQw047oq5-Q/s16000/volks.gif") no-repeat center center;
      width: 330px;
      height: 105px;
    background-size:100%;
      position: absolute;
      bottom: 0;
      left: 30%;
      -webkit-animation: myfirst 22s linear infinite;
      animation: myfirst 22s linear infinite;
  }
  
  .new_footer_top .footer_bg .footer_bg_two {
      background: url("https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhyLGwEUVwPK6Vi8xXMymsc-ZXVwLWyXhogZxbcXQYSY55REw_0D4VTQnsVzCrL7nsyjd0P7RVOI5NKJbQ75koZIalD8mqbMquP20fL3DxsWngKkOLOzoOf9sMuxlbyfkIBTsDw5WFUj-YJiI50yzgVjF8cZPHhEjkOP_PRTQXDHEq8AyWpBiJdN9SfQA/s16000/cyclist.gif") no-repeat center center;
      width: 88px;
      height: 100px;
    background-size:100%;
      bottom: 0;
      left: 38%;
      position: absolute;
      -webkit-animation: myfirst 30s linear infinite;
      animation: myfirst 30s linear infinite;
  }
  
  
  
  @-moz-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  
  @-webkit-keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  
  @keyframes myfirst {
    0% {
      left: -25%;
    }
    100% {
      left: 100%;
    }
  }
  